input[type=text]{
    width: 70%;
    padding: 1px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid blue;
}
input[type=number]{
    width: 70%;
    padding: 1px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid blue;
    border-radius: 4px;
    background-color: pink;
    color: white;
}

input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 1px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text:center;
}

input[type=submit]:hover {
    background-color: #45a049;
}
 
body{
background-image: url('../images/background.jpg');
    background-repeat: no-repeat; 
background-size: cover;
}

